.card {
  width: 330px;
  height: 240px;
  flex-shrink: 0;
  background-color: #fbfbfb;
  border: 2px solid #f0f0f0;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.info {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.nome {
  font-size: 1rem;
  color: #000;
  margin: 0 0 0.2rem 0;
  font-weight: bold;
  line-height: 1.3;
}

.tipo {
  font-size: 0.7rem;
  color: var(--cor-principal);
  margin-bottom: 0.5rem;
}

.descricao {
  font-size: 0.85rem;
  color: #444;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.4;
  flex-grow: 1;
}
