.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  padding: 0.8rem 1.5rem;
  background-color: var(--cor-bg);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  gap: 1rem;
}

.logoContainer {
  height: 60px;
  flex-shrink: 0;
}

.logo {
  height: 100%;
  width: auto;
  object-fit: contain;
  filter: brightness(0.7) contrast(2);
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  min-width: 180px;
}

.searchInput {
  padding: 0.6rem 1rem;
  padding-right: 2.5rem;
  border-radius: 8px;
  border: 1px solid #00000025;
  background-color: #00000005;
  color: #222;
  outline: none;
  width: 100%;
  max-width: 450px;
  transition: all 0.3s ease;
}

.searchInput:focus {
  border-color: var(--cor-principal);
}

.searchIcon {
  position: absolute;
  right: 0.9rem;
  color: var(--cor-principal);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.searchIcon:hover {
  color: var(--cor-principal);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    padding: 1rem;
  }

  .logoContainer {
    height: 50px;
  }

  .searchContainer {
    justify-content: center;
    width: 100%;
  }

  .searchInput {
    max-width: 100%;
    width: 90%;
  }

  .searchIcon {
    right: calc(5% + 0.5rem);
  }
}

@media (max-width: 480px) {
  .searchInput {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
    padding-right: 2rem;
  }

  .searchIcon {
    font-size: 0.9rem;
  }
}
