:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --cor-bg: #f3f3f3;
  --cor-principal: #10367d;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-bg);
}
